@import url(//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa);
/*.navbar-nav{*/
/*    position: relative;*/
/*    left: 422.32px;*/
/*}*/
/*@font-face {*/
/*    src: url("/fonts/911Fonts.com_EuropaRegular__-_911fonts.com_fonts_ez9D.ttf");*/
/*    font-family: Europa-Regular;*/
/*}*/
@font-face {font-family: "Europa"; src: url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.eot"); src: url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.woff") format("woff"), url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.svg#Europa") format("svg"); }
body{
    background-color: #F2F1EC;
    box-sizing: border-box;
    font-family: Europa;
}
.nav-margin{
    margin-right: 25px;
}
.nav-link{
    height: 19px;
    /*width: 41px;*/
    color: #30302e!important;
    font-family: "Europa";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
}

.green-accent {
    height: 100%;
    background-image:url('../images/Green-Accent.png');
    background-repeat:no-repeat;
    background-size:contain;
}

.green-accent__logo {
    height: 41px;
    width: 42px;
}
.yellow-accent {
    /*background: url('../images/Yellow Accent.png');*/
    /*background-repeat:no-repeat;*/
    /*background-size:contain;*/
}
.app-store, .go-to-fa-qs, .sign-up{
    background-color: #80B5E5;
    border-radius: 10px;
}
.meet-bits-a-digital{

    color: #30302E;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 50px;
    /*padding-top: 9rem;*/
    /*padding-left: 13.3125rem;*/

}

.looking-to-build-cre {
    color: #30302E;
    font-family: Europa, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    /*padding-left: 13.3125rem;*/
}
.bits_card{
    background-color: transparent;
    -ms-transform: rotate(20deg);
    transform: rotate(357deg);
    /*padding-top: 9rem;*/
    width: 25rem;
}
.blue-accent {
    position: absolute;
    right: 0rem;
    width: 32%!important;
    height: 17rem;
    z-index: -1;
    -ms-transform: rotate(20deg);
    transform: rotate(360deg);
}
.red-accent {
    /*height: 15.625rem;*/
    /*width: 18.75rem;*/
    /*background-color: #F88279;*/
    /*background-image: url('../images/Red Accent.png');*/
}
.pink-accent {
    /*height: 5.625rem;*/
    /*width: 8.75rem;*/
    /*background-color: #F3C2D5;*/
    position:absolute;
    bottom:0;
    right:0;
}
.banner {
    height: 8rem;
    background-color: #FBFBFD;
}
.banner .nav-link img{
    height: 22.23px;
    width: 106px;
}
.combinator{
    background-color: gray;
}
.about-us {
    margin-top: 7.75rem;
    margin-bottom: 10rem;
}
.i-phone-x-clay-2 {
    position: absolute;
    left: 13rem;
    height: 425px;
    width: 213.07px;
}
.path-3{
    height: 223.58px;
    width: 246.69px;
    position:absolute;top:-2rem;left: 16rem;z-index: -1;
}
.path-2{
    height: 13.97375rem;
    width: 246.69px;
    position:absolute;top:15rem;left: 5rem;z-index: -1;
}
.were-reinventing-th {

    color: #30302E;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 34px;
}
.mask{
    background-color: #FBFBFD;
    padding-bottom: 6.25rem;
}
.mask-1{
    height: 133.89px;
    width: 108.81px;
    position: relative;
    top: -6rem;
    left: -3rem;
}
.path-1,.path-4{
    height: 127px;
    width: 107.51px;
    position: absolute;
    right: 5rem;
}
.path-1{
    position: absolute;left: 3.5rem;
}
/*.path-4{*/
/*!*    position: relative;*!*/
/*!*    right: -50rem;*!*/
/*!*    top: 19rem;*!*/
/*!*}*!*/
.testimonial{
    border-radius: 10px;
}
.testimonal_5{
    z-index: 1;
}
.oval{
    height: 60px;
    width: 60px;
}
.frequently_asked_questions{
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}
.question{
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}
.fa-plus, .fa-times{
    font-size: 10px;
}
.still_have_questions{
    margin-top: 6.6875rem;
}
.heads{
    width: 293px;
    align-self: center;
    align-items: center;
    align-content: center;
}